/*   Variable List
-----------------------------------*/

// Colors
$primaryColor: #6576FF ;
$secondaryColor: #FFBB5A;
$black: #364a63;
$white:#fff;  
$textColor: #5f6977;
$hoverPrimary: #4b5de6;
$hoverSecondary: #f8a634;

// Fonts Family
$secondaryFont: "Inter", sans-serif;

$transition: all 0.3s ease-in-out;

// Border-Color
$border: #e6e2e3cb;

// Box-Shadow 
$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

